# Softwares cache
.vscode/
__pycache__/
build/

# fpga - vivado logs
*.jou
*.log
.Xil/

# fpga - sigasi, ghdl
*.library_mapping.xml
*.project
*.cf
.settings/

# cpp - object files
*.o

# data
*.dat

# matlab - data & figures
*.fig
*.mat

# docs - latex
*.aux
*.log
*.synctex.gz
*.tex.bak

# Petalinux projects
sw/target/linux/
